swagger/schemas/bulkUploadXml.bulkUploadResultXML.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
	<xs:complexType name="T_mrss">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="1" ref="channel">
				<xs:annotation>
					<xs:documentation>holding multiple item elements</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="mrss-extension"/>
			
		</xs:sequence>
		<xs:attribute name="version" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					Indicates the XSD version to be used
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_channel">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="1" ref="item">
				<xs:annotation>
					<xs:documentation>holding entry element</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="channel-extension"/>
			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_item">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" ref="result">
				<xs:annotation>
					<xs:documentation>Action results</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="action">
				<xs:annotation>
					<xs:documentation>Entry action that applied on the entry element</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="add"/>
						<xs:enumeration value="update"/>
						<xs:enumeration value="delete"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="entryId" nillable="false">
				<xs:annotation>
					<xs:documentation>ID of entry that the action appled on</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="referenceID" type="xs:string">
				<xs:annotation>
					<xs:documentation>Partner external reference string</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="createdAt" type="xs:int">
				<xs:annotation>
					<xs:documentation>Entry creation date as Unix timestamp (In seconds)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="updatedAt" type="xs:int">
				<xs:annotation>
					<xs:documentation>Entry last update date as Unix timestamp (In seconds)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="title">
				<xs:annotation>
					<xs:documentation>Entry name</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="type" type="KalturaEntryType">
				<xs:annotation>
					<xs:documentation>Entry type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="licenseType" type="KalturaLicenseType">
				<xs:annotation>
					<xs:documentation>Entry license type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="userId" type="xs:string">
				<xs:annotation>
					<xs:documentation>The ID of the user who is the owner of this entry</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="name">
				<xs:annotation>
					<xs:documentation>Entry name</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="status" type="KalturaEntryStatus">
				<xs:annotation>
					<xs:documentation>Entry current status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Entry free text description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="thumbnailUrl">
				<xs:annotation>
					<xs:documentation>Download URL of the entry thumbnail</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="url" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" ref="tags">
				<xs:annotation>
					<xs:documentation>Entry searchable keywords</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="category">
				<xs:annotation>
					<xs:documentation>Entry assigned category</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="partnerData" type="xs:string">
				<xs:annotation>
					<xs:documentation>Used to store various partner related data as a string</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="partnerSortData" type="xs:int">
				<xs:annotation>
					<xs:documentation>Used to store various partner related data as a numeric value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="accessControlId" type="xs:int">
				<xs:annotation>
					<xs:documentation>The id of the access control profile that assigned to this entry</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="conversionProfileId" type="xs:int">
				<xs:annotation>
					<xs:documentation>The ingestion profile that used to ingest this entry</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="startDate" type="xs:int">
				<xs:annotation>
					<xs:documentation>Entry scheduling start date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="endDate" type="xs:int">
				<xs:annotation>
					<xs:documentation>Entry scheduling end date.<br/>If not specified the entry will be available forever</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice maxOccurs="1" minOccurs="0">
				<xs:element maxOccurs="1" minOccurs="1" ref="media">
					<xs:annotation>
						<xs:documentation>Media related information, such as media type</xs:documentation>
					</xs:annotation>
				</xs:element>
				<!-- Not yet supported <xs:element ref="mix" minOccurs="1" maxOccurs="1"/> 
					<xs:element ref="playlist" minOccurs="1" maxOccurs="1"/> <xs:element ref="data" 
					minOccurs="1" maxOccurs="1"/> <xs:element ref="liveStream" minOccurs="1" 
					maxOccurs="1"/> -->
			</xs:choice>
			<xs:choice maxOccurs="unbounded" minOccurs="0">
				<xs:element maxOccurs="1" minOccurs="1" ref="content">
					<xs:annotation>
						<xs:documentation>Flavor asset information</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="1" ref="thumbnail">
					<xs:annotation>
						<xs:documentation>Thumbnail asset information</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="item-extension"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_tags">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="1" name="tag" type="xs:string">
				<xs:annotation>
					<xs:documentation>Free text keyword</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_result">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="errorDescription" type="xs:string">
				<xs:annotation>
					<xs:documentation>Ingestion error description</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_category">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>Category name</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_media">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="mediaType" type="KalturaMediaType">
				<xs:annotation>
					<xs:documentation>Entry media type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="duration" type="xs:int">
				<xs:annotation>
					<xs:documentation>Entry media (video/audio) duration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="flavorParamsIds" type="xs:string">
				<xs:annotation>
					<xs:documentation>Flavor params ids that have compatible ready flavor asset</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="media-extension"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_thumbnail">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" ref="tags">
				<xs:annotation>
					<xs:documentation>Entry searchable keywords</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="thumbnail-extension"/>
		</xs:sequence>
		<xs:attribute name="url" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Download URL</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="thumbAssetId" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Thumbnail asset id</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="format" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Format of the thumbnail asset file</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isDefault" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>Is the entry default thumbnail</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="height" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>Thumbnail height</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="width" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>Thumbnail width</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="thumbParamsId" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>ID of thumbnail params that associated with the thumbnail</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_content">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" ref="tags">
				<xs:annotation>
					<xs:documentation>Specifies specific tags you want to set for the flavor asset</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="content-extension"/>
		</xs:sequence>
		<xs:attribute name="url" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Download URL</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="flavorAssetId" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>ID of the flavor asset</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="containerFormat" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Format of the asset file</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="format" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Configured format of the flavor</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="extension" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Flavor asset file extension</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isSource" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>Is the source flavor asset</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="height" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>Flavor height</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="width" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>Flavor width</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="videoBitrate" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>Flavor asset video bitrate</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="videoCodec" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Flavor asset video codec</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="audioBitrate" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>Flavor asset audio bitrate</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="audioCodec" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Flavor asset audio codec</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="frameRate" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>Flavor asset frame rate</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="flavorParamsId" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>ID of accosiated flavor params</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="flavorParamsName" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>System name of accosiated flavor params</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="assetId" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>
					The asset id to be updated with this resource
					userd only for update
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="mrss" type="T_mrss">
		<xs:annotation>
			<xs:documentation>Wrapper element holding XML structure</xs:documentation>
			<xs:appinfo>
				<example>
					<mrss version="2.0">
						<channel>
							<items>
								<item>...</item>
								<item>...</item>
								<item>...</item>
							</items>
						</channel>
					</mrss>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="channel" type="T_channel">
		<xs:annotation>
			<xs:documentation>Wrapper element holding multiple item elements</xs:documentation>
			<xs:appinfo>
				<example>
					<mrss version="2.0">
						<channel>
							<items>
								<item>...</item>
								<item>...</item>
								<item>...</item>
							</items>
						</channel>
					</mrss>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="item" type="T_item">
		<xs:annotation>
			<xs:documentation>Single entry wrapper element</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<result>
							<errorDescription>...</errorDescription>
						</result>
						<action>add</action>
						<entryId>{entry id}</entryId>
						<createdAt>1311878948</createdAt>
						<updatedAt>1311879522</updatedAt>
						<title>my entry name</title>
						<link>http://my.feed.url?entry_id={entry id}</link>
						<type>1</type>
						<licenseType>-1</licenseType>
						<userId>my.example.user</userId>
						<name>my entry name</name>
						<status>2</status>
						<description>my entry free text description</description>
						<thumbnailUrl url="http://kaltura.domain/thumbnail/path/to/file.jpg"/>
						<tags>
							<tag>example</tag>
							<tag>my_tag</tag>
						</tags>
						<category name="example1">examples&gt;example1</category>
						<category name="example2">examples&gt;example2</category>
						<partnerData>my advanced data</partnerData>
						<accessControlId>{access control id}</accessControlId>
						<conversionProfileId>{conversion profile id}</conversionProfileId>
						<media>
							<mediaType>1</mediaType>
							<duration>34951</duration>
							<flavorParamsIds>0,3</flavorParamsIds>
						</media>
						<thumbnail url="http://kaltura.domain/thumbnail/path/to/thumbnail1.jpg">...</thumbnail>
						<thumbnail url="http://kaltura.domain/thumbnail/path/to/thumbnail2.jpg">...</thumbnail>
						<content url="http://kaltura.domain/flavor/path/to/flavor1.flv">...</content>
						<content url="http://kaltura.domain/flavor/path/to/flavor2.flv">...</content>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="result" type="T_result">
		<xs:annotation>
			<xs:documentation>Entry action result element</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<result>
							<errorDescription>...</errorDescription>
						</result>
						<action>add</action>
						<entryId>{entry id}</entryId>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="tags" type="T_tags">
		<xs:annotation>
			<xs:documentation>Free text tags</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="category" type="T_category">
		<xs:annotation>
			<xs:documentation>Category assignments for entries</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="media" type="T_media">
		<xs:annotation>
			<xs:documentation>Media related information, such as media type</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<result>
							<errorDescription>...</errorDescription>
						</result>
						<action>add</action>
						<entryId>{entry id}</entryId>
						<media>
							<mediaType>1</mediaType>
							<duration>34951</duration>
							<flavorParamsIds>0,3</flavorParamsIds>
						</media>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="content" type="T_content">
		<xs:annotation>
			<xs:documentation>Flavor asset element</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<result>
							<errorDescription>...</errorDescription>
						</result>
						<action>add</action>
						<entryId>{entry id}</entryId>
						<media>...</media>
						<content assetId="{flavor asset id}" audioBitrate="0" audioCodec="" containerFormat="flash video" extension="flv" flavorParamsId="0" flavorParamsName="Source" format="" frameRate="0" height="0" isSource="true" url="http://kaltura.domain/path/my_flavor_asset.flv" videoBitrate="0" videoCodec="" width="0">
						&gt;
							<tags>
								<tag>example</tag>
								<tag>my_tag</tag>
							</tags>
						</content>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="thumbnail" type="T_thumbnail">
		<xs:annotation>
			<xs:documentation>Thumbnail asset element</xs:documentation>
			<xs:appinfo>
				<example>
					<item>
						<result>
							<errorDescription>...</errorDescription>
						</result>
						<action>add</action>
						<entryId>{entry id}</entryId>
						<media>...</media>
						<thumbnail format="" height="120" isDefault="false" thumbAssetId="{thumb asset id}" url="http://kaltura.domain/path/my_thumbnail_asset.flv" width="120">
							<tags>
								<tag>example</tag>
								<tag>my_tag</tag>
							</tags>
						</thumbnail>
					</item>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="mrss-extension"/>
	<xs:element name="channel-extension"/>
	<xs:element name="item-extension"/>
	<xs:element name="media-extension"/>
	<xs:element name="content-extension"/>
	<xs:element name="thumbnail-extension"/>
	<xs:element name="player-extension"/>
		
	<!-- adCuePointBulkUploadXml -->
	
	<xs:complexType name="T_scene_adCuePointBulkUploadXml">
		<xs:complexContent>
			<xs:extension base="T_scene">
				<xs:sequence>
					<xs:element name="sceneEndTime" minOccurs="0" maxOccurs="1" type="xs:time">
						<xs:annotation>
							<xs:documentation>A cue point that marks the end time</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sceneTitle" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Text that defines the title</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="250"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="sourceUrl" minOccurs="0" maxOccurs="1" type="xs:string">
						<xs:annotation>
							<xs:documentation>The URL of the ad XML</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="adType" minOccurs="1" maxOccurs="1" type="KalturaAdType">
						<xs:annotation>
							<xs:documentation>Indicates the ad type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="protocolType" minOccurs="1" maxOccurs="1" type="KalturaAdProtocolType">
						<xs:annotation>
							<xs:documentation>Indicates the ad protocol type</xs:documentation>
						</xs:annotation>
					</xs:element>
					
					<xs:element ref="scene-extension" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="scene-ad-cue-point" type="T_scene_adCuePointBulkUploadXml" substitutionGroup="scene">
		<xs:annotation>
			<xs:documentation>A single advertisement cue point element</xs:documentation>
			<xs:appinfo>
				<example>
					<scene-ad-cue-point systemName="MY_AD_CUE_POINT_SYSTEM_NAME">
						<sceneStartTime>00:00:05</sceneStartTime>
						<tags>
							<tag>tag1</tag>
							<tag>tag2</tag>
						</tags>
						<sceneTitle>my ad title</sceneTitle>
						<sourceUrl>http://source.to.my/ad.xml</sourceUrl>
						<adType>1</adType>
						<protocolType>1</protocolType>
					</scene-ad-cue-point>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
		
		
	<!-- annotationBulkUploadXml -->
	
	<xs:complexType name="T_scene_annotationBulkUploadXml">
		<xs:complexContent>
			<xs:extension base="T_scene">
				<xs:sequence>
					<xs:element name="sceneEndTime" minOccurs="1" maxOccurs="1" type="xs:time">
						<xs:annotation>
							<xs:documentation>A cue point that marks the end time</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sceneText" minOccurs="0" maxOccurs="1" type="xs:string">
						<xs:annotation>
							<xs:documentation>A free text description</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice minOccurs="0" maxOccurs="1">
						<xs:element name="parent" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>The system name of a parent annotation</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="120"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="parentId" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>The identifier of a parent annotation</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="250"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					
					<xs:element ref="scene-extension" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="scene-annotation" type="T_scene_annotationBulkUploadXml" substitutionGroup="scene">
		<xs:annotation>
			<xs:documentation>A single annotation cue point element</xs:documentation>
			<xs:appinfo>
				<example title="XML Example 1: Single annotation">
					<scene-annotation entryId="{entry id}">
						<sceneStartTime>00:00:05.3</sceneStartTime>
						<tags>
							<tag>tag1</tag>
							<tag>tag2</tag>
						</tags>
						<sceneEndTime>00:00:10</sceneEndTime>
						<sceneText>my annotation</sceneText>
					</scene-annotation>
				</example>
				<example title="Example 2: Multiple related annotations">
					<scene-annotation entryId="{entry id}" systemName="MY_ANNOTATION_PARENT_SYSTEM_NAME">
						<sceneStartTime>00:00:05.3</sceneStartTime>
						<tags>
							<tag>tag1</tag>
							<tag>tag2</tag>
						</tags>
						<sceneEndTime>00:00:10</sceneEndTime>
						<sceneText>my annotation parent</sceneText>
					</scene-annotation>
					<scene-annotation entryId="{entry id}">
						<sceneStartTime>00:00:05.3</sceneStartTime>
						<tags>
							<tag>tag3</tag>
							<tag>tag4</tag>
						</tags>
						<sceneEndTime>00:00:10</sceneEndTime>
						<sceneText>my annotation child</sceneText>
						<parent>MY_ANNOTATION_PARENT_SYSTEM_NAME</parent>
					</scene-annotation>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
		
		
	<!-- attachmentBulkUploadXml -->
	
	<xs:complexType name="T_attachments">
		<xs:sequence>
			<xs:element name="action" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The action to apply:<br/>
						Update - Update existing attachment<br/>
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="update" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="attachment" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>All attachment elements</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="T_attachment">
		<xs:sequence>
			<xs:element name="tags" minOccurs="0" maxOccurs="1" type="T_tags">
				<xs:annotation>
					<xs:documentation>Specifies specific tags you want to set for the flavor asset</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:element ref="serverFileContentResource" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Specifies that content ingestion location is on a Kaltura hosted server</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="urlContentResource" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Specifies that content file location is a URL (http,ftp)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="remoteStorageContentResource" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Specifies that content file location is a path within a Kaltura defined remote storage</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="remoteStorageContentResources" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Set of content files within several Kaltura defined remote storages</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="entryContentResource" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Specifies that content is a Kaltura entry</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="assetContentResource" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Specifies that content is a Kaltura asset</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="contentResource-extension" minOccurs="1" maxOccurs="1" />
			</xs:choice>
			<xs:element name="filename" minOccurs="0" maxOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation>Attachment asset file name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="title" minOccurs="0" maxOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation>Attachment asset title</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation>Attachment asset free text description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="attachment-extension" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		
		<xs:attribute name="attachmentAssetId" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The asset id to be updated with this resource used only for update</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="format" type="KalturaAttachmentType" use="optional">
			<xs:annotation>
				<xs:documentation>Attachment asset file format</xs:documentation>
			</xs:annotation>
		</xs:attribute>
						
	</xs:complexType>
	
	<xs:element name="attachment-extension" />
		<xs:element name="attachments" type="T_attachments" substitutionGroup="item-extension">
		<xs:annotation>
			<xs:documentation>All attachments elements</xs:documentation>
			<xs:appinfo>
				<example>
					<attachments>
						<action>update</action>
						<attachment>...</attachment>
						<attachment>...</attachment>
						<attachment>...</attachment>
					</attachments>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="attachment" type="T_attachment" substitutionGroup="item-extension">
		<xs:annotation>
			<xs:documentation>Attachment asset element</xs:documentation>
			<xs:appinfo>
				<example>
					<attachment format="1" attachmentAssetId="{asset id}">
						<tags>
							<tag>example</tag>
							<tag>my_tag</tag>
						</tags>
						<urlContentResource url="http://my.domain/path/file.txt"/>
						<filename>my_file_name.txt</filename>
						<title>my attachment asset title</title>
						<description>my attachment asset free text description</description>
					</attachment>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
		
		
	<!-- captionBulkUploadXml -->
	
		<xs:complexType name="T_subTitles">
		<xs:sequence>
			<xs:element name="action" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The action to apply:<br/>
						Update - Update existing subtitles<br/>
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="update" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="subTitle" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>All subTitles elements</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="T_subTitle">
		<xs:sequence>
			<xs:element name="tags" minOccurs="1" maxOccurs="1" type="T_tags">
				<xs:annotation>
					<xs:documentation>Specifies specific tags you want to set for the flavor asset</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:element ref="serverFileContentResource" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Specifies that content ingestion location is on a Kaltura hosted server</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="urlContentResource" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Specifies that content file location is a URL (http,ftp)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="remoteStorageContentResource" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Specifies that content file location is a path within a Kaltura defined remote storage</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="remoteStorageContentResources" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Set of content files within several Kaltura defined remote storages</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="entryContentResource" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Specifies that content is a Kaltura entry</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="assetContentResource" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Specifies that content is a Kaltura asset</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="contentResource-extension" minOccurs="1" maxOccurs="1" />
			</xs:choice>
			<xs:element ref="subtitle-extension" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		
		<xs:attribute name="captionParamsId" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>The asset id to be updated with this resource used only for update</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="captionParams" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>System name of caption params to be associated with the caption asset</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="captionAssetId" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>ID of caption params to be associated with the caption asset</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isDefault" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>Specifies if this asset is the default caption asset</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="format" type="KalturaCaptionType" use="optional">
			<xs:annotation>
				<xs:documentation>Caption asset file format</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="lang" type="KalturaLanguage" use="optional">
			<xs:annotation>
				<xs:documentation>Caption asset file language</xs:documentation>
			</xs:annotation>
		</xs:attribute>
						
	</xs:complexType>
	
	<xs:element name="subtitle-extension" />
	<xs:element name="subTitles" type="T_subTitles" substitutionGroup="item-extension">
		<xs:annotation>
			<xs:documentation>All subTitles elements</xs:documentation>
			<xs:appinfo>
				<example>
					<subTitles>
						<action>update</action>
						<subTitle>...</subTitle>
						<subTitle>...</subTitle>
						<subTitle>...</subTitle>
					</subTitles>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="subTitle" type="T_subTitle">
		<xs:annotation>
			<xs:documentation>A single caption asset element</xs:documentation>
			<xs:appinfo>
				<example>
					<subTitle isDefault="true" format="2" lang="Hebrew">
						<tags>
							<tag>tag1</tag>
							<tag>tag2</tag>
						</tags>
						<urlContentResource url="http://my.domain/path/caption.srt"/>
					</subTitle>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
		
		
	<!-- codeCuePointBulkUploadXml -->
	
	<xs:complexType name="T_scene_codeCuePointBulkUploadXml">
		<xs:complexContent>
			<xs:extension base="T_scene">
				<xs:sequence>
					<xs:element name="sceneEndTime" minOccurs="0" maxOccurs="1" type="xs:time">
						<xs:annotation>
							<xs:documentation>A cue point that marks the end time</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="code" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Textual code</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="250"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
						<xs:annotation>
							<xs:documentation>A free text description</xs:documentation>
						</xs:annotation>
					</xs:element>
					
					<xs:element ref="scene-extension" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="scene-code-cue-point" type="T_scene_codeCuePointBulkUploadXml" substitutionGroup="scene">
		<xs:annotation>
			<xs:documentation>A single code cue point element</xs:documentation>
			<xs:appinfo>
				<example>
					<scene-code-cue-point entryId="{entry id}">
						<sceneStartTime>00:00:05.3</sceneStartTime>
						<tags>
							<tag>tag1</tag>
							<tag>tag2</tag>
						</tags>
						<code>MY_CODE</code>
						<description>my code cue point description</description>
					</scene-code-cue-point>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
		
		
	<!-- ThumbCuePointBulkUploadXml -->
	
	<xs:complexType name="T_scene_thumbCuePoint">
		<xs:complexContent>
			<xs:extension base="T_scene">
				<xs:sequence>
					<xs:element name="title" minOccurs="1" maxOccurs="1" type="xs:string"> </xs:element>
					<xs:element name="description" minOccurs="1" maxOccurs="1" type="xs:string"> </xs:element>
					<xs:element name="subType" minOccurs="0" maxOccurs="1" type="KalturaThumbCuePointSubType">
						<xs:annotation>
							<xs:documentation>Indicates the thumb cue point sub type 1 = Slide 2 = Chapter, defaults to Slide</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" ref="slide" />
					<xs:element ref="scene-extension" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="T_slide">
		<xs:sequence>
			<xs:choice maxOccurs="1" minOccurs="0">
				<xs:element maxOccurs="1" minOccurs="0" ref="urlContentResource"></xs:element>
				<xs:element maxOccurs="1" minOccurs="0" ref="remoteStorageContentResource"></xs:element>
				<xs:element maxOccurs="1" minOccurs="0" ref="remoteStorageContentResources"></xs:element>
				<xs:element maxOccurs="1" minOccurs="0" ref="assetContentResource"></xs:element>
				<xs:element maxOccurs="1" minOccurs="0" ref="entryContentResource"></xs:element>
				<xs:element maxOccurs="1" minOccurs="0" ref="contentResource-extension"></xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="timedThumbAssetId" type="xs:string" use="optional"/>
	</xs:complexType>
	
	<xs:element name="scene-thumb-cue-point" type="T_scene_thumbCuePoint" substitutionGroup="scene">
		<xs:annotation>
			<xs:documentation>Single thumb cue point element</xs:documentation>
			<xs:appinfo>
				<example>
					<scene-thumb-cue-point sceneId="{scene id}" entryId="{entry id}">
						<sceneStartTime>00:00:05.3</sceneStartTime>
						<tags>
							<tag>my_tag</tag>
						</tags>
						<slide>
							<urlContentResource url="URL_TO_FILE"/>
						</slide>
					</scene-thumb-cue-point>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	
	<xs:element name="slide" type="T_slide">
		<xs:annotation>
			<xs:documentation>
				The slide image to attahce to tht thumb cue point ellement
			</xs:documentation>
		</xs:annotation>
	</xs:element>
		
		
	<!-- contentDistributionBulkUploadXml -->
	
	<xs:complexType name="T_distribution">
		<xs:sequence>
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:element name="distributionProvider" minOccurs="1" maxOccurs="1" type="KalturaDistributionProviderType">
					<xs:annotation>
						<xs:documentation>The provider (Distribution Partner) that the entry is distributed to</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="distributionProfileId" minOccurs="1" maxOccurs="1" type="xs:int">
					<xs:annotation>
						<xs:documentation>The identifier of the distribution profile to use for entry distribution</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="distributionProfile" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>The system name of the distribution profile to use for entry distribution</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="120"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
			<xs:element name="sunrise" minOccurs="0" maxOccurs="1" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>
						The date and time that the entry becomes available on the remote site.<br/>
						If not specified, the entry scheduling date and time are used.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sunset" minOccurs="0" maxOccurs="1" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>
						The date and time that the entry becomes unavailable on the remote site.<br/>
						If not specified, the entry scheduling date and time are used.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="flavorAssetIds" minOccurs="0" maxOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Comma-separated list of existing flavor asset IDs for the distribution destination.<br/>
						Used only for an existing entry.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="thumbAssetIds" minOccurs="0" maxOccurs="1" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Comma-separated list of existing thumbnail asset IDs for the distribution destination.<br/>
						Used only for an existing entry.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		
			<xs:element ref="distribution-extension" minOccurs="0" maxOccurs="unbounded" />
			
		</xs:sequence>
		
		<xs:attribute name="entryDistributionId" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The identifier of an entry distribution object that an update/delete action applies to</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="submitWhenReady" use="optional" type="xs:boolean" default="false">
			<xs:annotation>
				<xs:documentation>Indicates that the entry should be submitted when it is possible</xs:documentation>
			</xs:annotation>
		</xs:attribute>		
	</xs:complexType>

	<xs:complexType name="T_distributions">
		<xs:sequence>
			<xs:element ref="distribution" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>All distributions</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="distributions" type="T_distributions" substitutionGroup="item-extension">
		<xs:annotation>
			<xs:documentation>All custom metadata elemets</xs:documentation>
			<xs:appinfo>
				<example>
					<distributions>
						<distribution>
							<distributionProfile>MY_DISTRIBUTION_PROFILE</distributionProfile>
							<sunrise>2011-10-26T21:32:52</sunrise>
							<sunset>2011-12-26T21:32:52</sunset>
						</distribution>
					</distributions>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	
	<xs:element name="distribution" type="T_distribution">
		<xs:annotation>
			<xs:documentation>Details related to a content distribution submission</xs:documentation>
			<xs:appinfo>
				<example>
					<distribution>
						<distributionProfile>MY_DISTRIBUTION_PROFILE</distributionProfile>
						<sunrise>2011-10-26T21:32:52</sunrise>
						<sunset>2011-12-26T21:32:52</sunset>
					</distribution>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	
	<xs:element name="distribution-extension" />
		
		
	<!-- cuePointBulkUploadXml -->
	
	<xs:complexType name="T_scenes">
		<xs:sequence>
			<xs:element name="action" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The action to apply from the item element:<br/>
						Update - Update an existing entry<br/>
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="update" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="scene" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A cue point element</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>	

	<xs:complexType name="T_scene" abstract="true">
		<xs:sequence>
			<xs:element name="sceneStartTime" minOccurs="1" maxOccurs="1" type="xs:time">
				<xs:annotation>
					<xs:documentation>A cue point that marks the start time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="tags" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Searchable keywords associated with a cue point</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		
		<xs:attribute name="sceneId" use="optional">
			<xs:annotation>
				<xs:documentation>The identifier of the cue point that an update/delete action applies to</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="250"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="systemName" use="optional">
			<xs:annotation>
				<xs:documentation>The system name of the cue point that an update/delete action applies to</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="120"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		
	</xs:complexType>
	
	<xs:element name="scenes" type="T_scenes" substitutionGroup="item-extension">
		<xs:annotation>
			<xs:documentation>A cue points wrapper element</xs:documentation>
			<xs:appinfo>
				<example>
					<scenes>
						<action>update</action>
						<scene-ad-cue-point entryId="{entry id}" systemName="MY_AD_CUE_POINT_SYSTEM_NAME">...</scene-ad-cue-point>
						<scene-annotation entryId="{entry id}" systemName="MY_ANNOTATION_PARENT_SYSTEM_NAME">...</scene-annotation>
						<scene-annotation entryId="{entry id}">...</scene-annotation>
						<scene-code-cue-point entryId="{entry id}">...</scene-code-cue-point>
					</scenes>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	
	<xs:element name="scene" type="T_scene">
		<xs:annotation>
			<xs:documentation>
				A base cue point element. This is an abstract element and cannot be used. Use only extended elements.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:element name="scene-extension" />
		
		
	<!-- cuePointMetadata -->
	
	<xs:element name="scene-customData" type="T_customData" substitutionGroup="scene-extension">
		<xs:annotation>
			<xs:documentation>XML for custom metadata</xs:documentation>
			<xs:appinfo>
				<example>
					<scene-ad-cue-point entryId="{entry id}">
						<sceneStartTime>00:00:05</sceneStartTime>
						<sceneTitle>my ad title</sceneTitle>
						<sourceUrl>http://source.to.my/ad.xml</sourceUrl>
						<adType>1</adType>
						<protocolType>1</protocolType>
						<scene-customData metadataProfile="MY_AD_METADATA_PROFILE_SYSTEM_NAME">
							<metadata>
								<adData>my ad custom data</adData>
							</metadata>
						</scene-customData>
					</scene-ad-cue-point>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
			
		
	<!-- metadataBulkUploadXml -->
	
	<xs:complexType name="T_customData">
		<xs:sequence>
			<xs:element name="action" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The action to apply:<br/>
						transformXslt - transform metadata object using Xslt<br/>
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="transformXslt" />
						<xs:enumeration value="replace" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="xslt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The xslt to transform on the current metadata object
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="xmlData" maxOccurs="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>metadata xml Data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="metadataId" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The identifier of the custom metadata object that an update/delete action applies to</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="metadataProfile" use="optional">
			<xs:annotation>
				<xs:documentation>The schema profile system name of the custom metadata</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="120"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="metadataProfileId" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The schema profile identifier of the custom metadata</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="T_xmlData">
		<xs:sequence>
			<xs:any namespace="##local" processContents="skip" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The XML for custom metadata according to a schema profile</xs:documentation>
				</xs:annotation>		
			</xs:any>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_customDataItems">
		<xs:sequence>
			<xs:element name="action" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The action to apply:<br/>
						Update - Update metadata for existing entry<br/>
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="update" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="customData" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>All custom data elemets</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	
	<xs:element name="customDataItems" type="T_customDataItems" substitutionGroup="item-extension">
		<xs:annotation>
			<xs:documentation>All custom metadata elemets</xs:documentation>
			<xs:appinfo>
				<example>
					<customDataItems>
						<action>update</action>
						<customData>...</customData>
						<customData>...</customData>
						<customData>...</customData>
					</customDataItems>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	
	<xs:element name="customData" type="T_customData">
		<xs:annotation>
			<xs:documentation>XML for custom metadata</xs:documentation>
			<xs:appinfo>
				<example>
					<customData	metadataId="{metadata id}" 
								metadataProfile="MY_METADATA_PROFILE_SYSTEM_NAME}"  
								metadataProfileId="{metadata profile id}"  
					>
						<action>transformXslt</action>
						<xslt></xslt>
						<xmlData>
							<metadata>
								<TextFieldName>entry field value</TextFieldName>
								<MultipleTextFieldName>entry multiple text field value1</MultipleTextFieldName>
								<MultipleTextFieldName>entry multiple text field value2</MultipleTextFieldName>
								<TextSelectionListFieldName>entry selected text value</TextSelectionListFieldName>
								<DateFieldName>21741540</DateFieldName>
								<EntryIDFieldName>0_5b3t2c8z</EntryIDFieldName>
							</metadata>
						</xmlData>
					</customData>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	
	<xs:element name="xmlData" type="T_xmlData">
		<xs:annotation>
			<xs:documentation>XML data for custom metadata</xs:documentation>
			<xs:appinfo>
				<example>
						<xmlData>
							<metadata>
								<TextFieldName>entry field value</TextFieldName>
								<MultipleTextFieldName>entry multiple text field value1</MultipleTextFieldName>
								<MultipleTextFieldName>entry multiple text field value2</MultipleTextFieldName>
								<TextSelectionListFieldName>entry selected text value</TextSelectionListFieldName>
								<DateFieldName>21741540</DateFieldName>
								<EntryIDFieldName>0_5b3t2c8z</EntryIDFieldName>
							</metadata>
						</xmlData>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
		
		
	<!-- widevineBulkUploadXml -->
	
	<xs:complexType name="T_widevineAssets">
		<xs:sequence>
			<xs:element name="action" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The action to apply:<br/>
						Update - Update existing asset<br/>
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="update" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="widevineAsset" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>All widevine elements</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="T_widevineAsset">
		<xs:sequence>
			<xs:element name="widevineAssetId" minOccurs="1" maxOccurs="1" type="xs:long">
				<xs:annotation>
					<xs:documentation>widevine asset id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="flavorParamsId" minOccurs="1" maxOccurs="1" type="xs:long">
				<xs:annotation>
					<xs:documentation>widevine asset flavor params Id</xs:documentation>
				</xs:annotation>
			</xs:element>	
			<xs:element maxOccurs="1" minOccurs="0" name="widevineDistributionStartDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>
						The license distribution window start date.<br/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="widevineDistributionEndDate" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>
						The license distribution window end date.<br/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>	
		</xs:sequence>		
		<xs:attribute name="flavorAssetId" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>The asset id to be updated with this resource used only for update</xs:documentation>
			</xs:annotation>
		</xs:attribute>
						
	</xs:complexType>
	
	<xs:element name="widevineAsset-extension" />
		<xs:element name="widevineAssets" type="T_widevineAssets" substitutionGroup="item-extension">
		<xs:annotation>
			<xs:documentation>All widevine elements</xs:documentation>
			<xs:appinfo>
				<example>
					<widevineAssets>
						<action>update</action>
						<widevineAsset>...</widevineAsset>
						<widevineAsset>...</widevineAsset>
						<widevineAsset>...</widevineAsset>
					</widevineAssets>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="widevineAsset" type="T_widevineAsset" substitutionGroup="item-extension">
		<xs:annotation>
			<xs:documentation>Widevine asset element</xs:documentation>
			<xs:appinfo>
				<example>
					<widevineAsset flavorAssetId="{asset id}">
						<widevineAssetId>123456</widevineAssetId>
						<flavorParamsId>61</flavorParamsId>
						<widevineDistributionStartDate>2011-05-05T00:00:00</widevineDistributionStartDate>
						<widevineDistributionEndDate>2014-05-19T00:00:00</widevineDistributionEndDate>
					</widevineAsset>
				</example>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
		
	<!-- Kaltura enum types -->
	
	<xs:simpleType name="KalturaEntryType">
		<xs:annotation><xs:documentation>http://www.kaltura.com/api_v3/testmeDoc/index.php?object=KalturaEntryType</xs:documentation></xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="-1"><xs:annotation><xs:documentation>AUTOMATIC</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="1"><xs:annotation><xs:documentation>MEDIA_CLIP</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="2"><xs:annotation><xs:documentation>MIX</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="5"><xs:annotation><xs:documentation>PLAYLIST</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="6"><xs:annotation><xs:documentation>DATA</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="7"><xs:annotation><xs:documentation>LIVE_STREAM</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="8"><xs:annotation><xs:documentation>LIVE_CHANNEL</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="10"><xs:annotation><xs:documentation>DOCUMENT</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="externalMedia.externalMedia"><xs:annotation><xs:documentation>EXTERNAL_MEDIA</xs:documentation></xs:annotation></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
			
	<xs:simpleType name="KalturaDynamicEnum">
		<xs:annotation><xs:documentation>http://www.kaltura.com/api_v3/testmeDoc/index.php?object=KalturaDynamicEnum</xs:documentation></xs:annotation>
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
			
	<xs:simpleType name="KalturaLicenseType">
		<xs:annotation><xs:documentation>http://www.kaltura.com/api_v3/testmeDoc/index.php?object=KalturaLicenseType</xs:documentation></xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="-1"><xs:annotation><xs:documentation>UNKNOWN</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="0"><xs:annotation><xs:documentation>NONE</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="1"><xs:annotation><xs:documentation>COPYRIGHTED</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="2"><xs:annotation><xs:documentation>PUBLIC_DOMAIN</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="3"><xs:annotation><xs:documentation>CREATIVECOMMONS_ATTRIBUTION</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="4"><xs:annotation><xs:documentation>CREATIVECOMMONS_ATTRIBUTION_SHARE_ALIKE</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="5"><xs:annotation><xs:documentation>CREATIVECOMMONS_ATTRIBUTION_NO_DERIVATIVES</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="6"><xs:annotation><xs:documentation>CREATIVECOMMONS_ATTRIBUTION_NON_COMMERCIAL</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="7"><xs:annotation><xs:documentation>CREATIVECOMMONS_ATTRIBUTION_NON_COMMERCIAL_SHARE_ALIKE</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="8"><xs:annotation><xs:documentation>CREATIVECOMMONS_ATTRIBUTION_NON_COMMERCIAL_NO_DERIVATIVES</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="9"><xs:annotation><xs:documentation>GFDL</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="10"><xs:annotation><xs:documentation>GPL</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="11"><xs:annotation><xs:documentation>AFFERO_GPL</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="12"><xs:annotation><xs:documentation>LGPL</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="13"><xs:annotation><xs:documentation>BSD</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="14"><xs:annotation><xs:documentation>APACHE</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="15"><xs:annotation><xs:documentation>MOZILLA</xs:documentation></xs:annotation></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
			
	<xs:simpleType name="KalturaEntryStatus">
		<xs:annotation><xs:documentation>http://www.kaltura.com/api_v3/testmeDoc/index.php?object=KalturaEntryStatus</xs:documentation></xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="-2"><xs:annotation><xs:documentation>ERROR_IMPORTING</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="-1"><xs:annotation><xs:documentation>ERROR_CONVERTING</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="0"><xs:annotation><xs:documentation>IMPORT</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="1"><xs:annotation><xs:documentation>PRECONVERT</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="2"><xs:annotation><xs:documentation>READY</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="3"><xs:annotation><xs:documentation>DELETED</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="4"><xs:annotation><xs:documentation>PENDING</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="5"><xs:annotation><xs:documentation>MODERATE</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="6"><xs:annotation><xs:documentation>BLOCKED</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="7"><xs:annotation><xs:documentation>NO_CONTENT</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="virusScan.Infected"><xs:annotation><xs:documentation>INFECTED</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="virusScan.ScanFailure"><xs:annotation><xs:documentation>SCAN_FAILURE</xs:documentation></xs:annotation></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
			
	<xs:simpleType name="KalturaMediaType">
		<xs:annotation><xs:documentation>http://www.kaltura.com/api_v3/testmeDoc/index.php?object=KalturaMediaType</xs:documentation></xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"><xs:annotation><xs:documentation>VIDEO</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="2"><xs:annotation><xs:documentation>IMAGE</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="5"><xs:annotation><xs:documentation>AUDIO</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="201"><xs:annotation><xs:documentation>LIVE_STREAM_FLASH</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="202"><xs:annotation><xs:documentation>LIVE_STREAM_WINDOWS_MEDIA</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="203"><xs:annotation><xs:documentation>LIVE_STREAM_REAL_MEDIA</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="204"><xs:annotation><xs:documentation>LIVE_STREAM_QUICKTIME</xs:documentation></xs:annotation></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
			
	<xs:simpleType name="KalturaAdType">
		<xs:annotation><xs:documentation>http://www.kaltura.com/api_v3/testmeDoc/index.php?object=KalturaAdType</xs:documentation></xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"><xs:annotation><xs:documentation>VIDEO</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="2"><xs:annotation><xs:documentation>OVERLAY</xs:documentation></xs:annotation></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
			
	<xs:simpleType name="KalturaAdProtocolType">
		<xs:annotation><xs:documentation>http://www.kaltura.com/api_v3/testmeDoc/index.php?object=KalturaAdProtocolType</xs:documentation></xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"><xs:annotation><xs:documentation>CUSTOM</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="1"><xs:annotation><xs:documentation>VAST</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="2"><xs:annotation><xs:documentation>VAST_2_0</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="3"><xs:annotation><xs:documentation>VPAID</xs:documentation></xs:annotation></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
			
	<xs:simpleType name="KalturaAttachmentType">
		<xs:annotation><xs:documentation>http://www.kaltura.com/api_v3/testmeDoc/index.php?object=KalturaAttachmentType</xs:documentation></xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"><xs:annotation><xs:documentation>TEXT</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="2"><xs:annotation><xs:documentation>MEDIA</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="3"><xs:annotation><xs:documentation>DOCUMENT</xs:documentation></xs:annotation></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
			
	<xs:simpleType name="KalturaCaptionType">
		<xs:annotation><xs:documentation>http://www.kaltura.com/api_v3/testmeDoc/index.php?object=KalturaCaptionType</xs:documentation></xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"><xs:annotation><xs:documentation>SRT</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="2"><xs:annotation><xs:documentation>DFXP</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="3"><xs:annotation><xs:documentation>WEBVTT</xs:documentation></xs:annotation></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
			
	<xs:simpleType name="KalturaLanguage">
		<xs:annotation><xs:documentation>http://www.kaltura.com/api_v3/testmeDoc/index.php?object=KalturaLanguage</xs:documentation></xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Abkhazian"><xs:annotation><xs:documentation>AB</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Afar"><xs:annotation><xs:documentation>AA</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Afrikaans"><xs:annotation><xs:documentation>AF</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Albanian"><xs:annotation><xs:documentation>SQ</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Amharic"><xs:annotation><xs:documentation>AM</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Arabic"><xs:annotation><xs:documentation>AR</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Armenian"><xs:annotation><xs:documentation>HY</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Assamese"><xs:annotation><xs:documentation>AS_</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Aymara"><xs:annotation><xs:documentation>AY</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Azerbaijani"><xs:annotation><xs:documentation>AZ</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Bashkir"><xs:annotation><xs:documentation>BA</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Basque"><xs:annotation><xs:documentation>EU</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Bengali (Bangla)"><xs:annotation><xs:documentation>BN</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Bhutani"><xs:annotation><xs:documentation>DZ</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Bihari"><xs:annotation><xs:documentation>BH</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Bislama"><xs:annotation><xs:documentation>BI</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Breton"><xs:annotation><xs:documentation>BR</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Bulgarian"><xs:annotation><xs:documentation>BG</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Burmese"><xs:annotation><xs:documentation>MY</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Byelorussian (Belarusian)"><xs:annotation><xs:documentation>BE</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Cambodian"><xs:annotation><xs:documentation>KM</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Catalan"><xs:annotation><xs:documentation>CA</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Chinese"><xs:annotation><xs:documentation>ZH</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Corsican"><xs:annotation><xs:documentation>CO</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Croatian"><xs:annotation><xs:documentation>HR</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Czech"><xs:annotation><xs:documentation>CS</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Danish"><xs:annotation><xs:documentation>DA</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Dutch"><xs:annotation><xs:documentation>NL</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="English"><xs:annotation><xs:documentation>EN</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="English (British)"><xs:annotation><xs:documentation>EN_GB</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="English (American)"><xs:annotation><xs:documentation>EN_US</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Esperanto"><xs:annotation><xs:documentation>EO</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Estonian"><xs:annotation><xs:documentation>ET</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Faeroese"><xs:annotation><xs:documentation>FO</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Farsi"><xs:annotation><xs:documentation>FA</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Fiji"><xs:annotation><xs:documentation>FJ</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Finnish"><xs:annotation><xs:documentation>FI</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="French"><xs:annotation><xs:documentation>FR</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Frisian"><xs:annotation><xs:documentation>FY</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Galician"><xs:annotation><xs:documentation>GL</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Gaelic (Scottish)"><xs:annotation><xs:documentation>GD</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Gaelic (Manx)"><xs:annotation><xs:documentation>GV</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Georgian"><xs:annotation><xs:documentation>KA</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="German"><xs:annotation><xs:documentation>DE</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Greek"><xs:annotation><xs:documentation>EL</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Greenlandic"><xs:annotation><xs:documentation>KL</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Guarani"><xs:annotation><xs:documentation>GN</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Gujarati"><xs:annotation><xs:documentation>GU</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Hausa"><xs:annotation><xs:documentation>HA</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Hebrew"><xs:annotation><xs:documentation>HE</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Hebrew"><xs:annotation><xs:documentation>IW</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Hindi"><xs:annotation><xs:documentation>HI</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Hungarian"><xs:annotation><xs:documentation>HU</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Icelandic"><xs:annotation><xs:documentation>IS</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Indonesian"><xs:annotation><xs:documentation>ID</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Indonesian"><xs:annotation><xs:documentation>IN</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Interlingua"><xs:annotation><xs:documentation>IA</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Interlingue"><xs:annotation><xs:documentation>IE</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Inuktitut"><xs:annotation><xs:documentation>IU</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Inupiak"><xs:annotation><xs:documentation>IK</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Irish"><xs:annotation><xs:documentation>GA</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Italian"><xs:annotation><xs:documentation>IT</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Japanese"><xs:annotation><xs:documentation>JA</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Javanese"><xs:annotation><xs:documentation>JV</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Kannada"><xs:annotation><xs:documentation>KN</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Kashmiri"><xs:annotation><xs:documentation>KS</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Kazakh"><xs:annotation><xs:documentation>KK</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Kinyarwanda (Ruanda)"><xs:annotation><xs:documentation>RW</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Kirghiz"><xs:annotation><xs:documentation>KY</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Kirundi (Rundi)"><xs:annotation><xs:documentation>RN</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Korean"><xs:annotation><xs:documentation>KO</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Kurdish"><xs:annotation><xs:documentation>KU</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Laothian"><xs:annotation><xs:documentation>LO</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Latin"><xs:annotation><xs:documentation>LA</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Latvian (Lettish)"><xs:annotation><xs:documentation>LV</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Limburgish ( Limburger)"><xs:annotation><xs:documentation>LI</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Lingala"><xs:annotation><xs:documentation>LN</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Lithuanian"><xs:annotation><xs:documentation>LT</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Macedonian"><xs:annotation><xs:documentation>MK</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Malagasy"><xs:annotation><xs:documentation>MG</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Malay"><xs:annotation><xs:documentation>MS</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Malayalam"><xs:annotation><xs:documentation>ML</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Maltese"><xs:annotation><xs:documentation>MT</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Maori"><xs:annotation><xs:documentation>MI</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Marathi"><xs:annotation><xs:documentation>MR</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Moldavian"><xs:annotation><xs:documentation>MO</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Mongolian"><xs:annotation><xs:documentation>MN</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Nauru"><xs:annotation><xs:documentation>NA</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Nepali"><xs:annotation><xs:documentation>NE</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Norwegian"><xs:annotation><xs:documentation>NO</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Occitan"><xs:annotation><xs:documentation>OC</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Oriya"><xs:annotation><xs:documentation>OR_</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Oromo (Afan, Galla)"><xs:annotation><xs:documentation>OM</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Pashto (Pushto)"><xs:annotation><xs:documentation>PS</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Polish"><xs:annotation><xs:documentation>PL</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Portuguese"><xs:annotation><xs:documentation>PT</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Punjabi"><xs:annotation><xs:documentation>PA</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Quechua"><xs:annotation><xs:documentation>QU</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Rhaeto-Romance"><xs:annotation><xs:documentation>RM</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Romanian"><xs:annotation><xs:documentation>RO</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Russian"><xs:annotation><xs:documentation>RU</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Samoan"><xs:annotation><xs:documentation>SM</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Sangro"><xs:annotation><xs:documentation>SG</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Sanskrit"><xs:annotation><xs:documentation>SA</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Serbian"><xs:annotation><xs:documentation>SR</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Serbo-Croatian"><xs:annotation><xs:documentation>SH</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Sesotho"><xs:annotation><xs:documentation>ST</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Setswana"><xs:annotation><xs:documentation>TN</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Shona"><xs:annotation><xs:documentation>SN</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Sindhi"><xs:annotation><xs:documentation>SD</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Sinhalese"><xs:annotation><xs:documentation>SI</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Siswati"><xs:annotation><xs:documentation>SS</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Slovak"><xs:annotation><xs:documentation>SK</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Slovenian"><xs:annotation><xs:documentation>SL</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Somali"><xs:annotation><xs:documentation>SO</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Spanish"><xs:annotation><xs:documentation>ES</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Sundanese"><xs:annotation><xs:documentation>SU</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Swahili (Kiswahili)"><xs:annotation><xs:documentation>SW</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Swedish"><xs:annotation><xs:documentation>SV</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Tagalog"><xs:annotation><xs:documentation>TL</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Tajik"><xs:annotation><xs:documentation>TG</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Tamil"><xs:annotation><xs:documentation>TA</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Tatar"><xs:annotation><xs:documentation>TT</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Telugu"><xs:annotation><xs:documentation>TE</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Thai"><xs:annotation><xs:documentation>TH</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Tibetan"><xs:annotation><xs:documentation>BO</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Tigrinya"><xs:annotation><xs:documentation>TI</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Tonga"><xs:annotation><xs:documentation>TO</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Tsonga"><xs:annotation><xs:documentation>TS</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Turkish"><xs:annotation><xs:documentation>TR</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Turkmen"><xs:annotation><xs:documentation>TK</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Twi"><xs:annotation><xs:documentation>TW</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Uighur"><xs:annotation><xs:documentation>UG</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Ukrainian"><xs:annotation><xs:documentation>UK</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Urdu"><xs:annotation><xs:documentation>UR</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Uzbek"><xs:annotation><xs:documentation>UZ</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Vietnamese"><xs:annotation><xs:documentation>VI</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Volapuk"><xs:annotation><xs:documentation>VO</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Welsh"><xs:annotation><xs:documentation>CY</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Wolof"><xs:annotation><xs:documentation>WO</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Xhosa"><xs:annotation><xs:documentation>XH</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Yiddish"><xs:annotation><xs:documentation>YI</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Yiddish"><xs:annotation><xs:documentation>JI</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Yoruba"><xs:annotation><xs:documentation>YO</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Zulu"><xs:annotation><xs:documentation>ZU</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="Multilingual"><xs:annotation><xs:documentation>MU</xs:documentation></xs:annotation></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
			
	<xs:simpleType name="KalturaThumbCuePointSubType">
		<xs:annotation><xs:documentation>http://www.kaltura.com/api_v3/testmeDoc/index.php?object=KalturaThumbCuePointSubType</xs:documentation></xs:annotation>
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"><xs:annotation><xs:documentation>SLIDE</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="2"><xs:annotation><xs:documentation>CHAPTER</xs:documentation></xs:annotation></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
			
	<xs:simpleType name="KalturaDistributionProviderType">
		<xs:annotation><xs:documentation>http://www.kaltura.com/api_v3/testmeDoc/index.php?object=KalturaDistributionProviderType</xs:documentation></xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"><xs:annotation><xs:documentation>GENERIC</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="2"><xs:annotation><xs:documentation>SYNDICATION</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="attUverseDistribution.ATT_UVERSE"><xs:annotation><xs:documentation>ATT_UVERSE</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="avnDistribution.AVN"><xs:annotation><xs:documentation>AVN</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="comcastMrssDistribution.COMCAST_MRSS"><xs:annotation><xs:documentation>COMCAST_MRSS</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="crossKalturaDistribution.CROSS_KALTURA"><xs:annotation><xs:documentation>CROSS_KALTURA</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="dailymotionDistribution.DAILYMOTION"><xs:annotation><xs:documentation>DAILYMOTION</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="doubleClickDistribution.DOUBLECLICK"><xs:annotation><xs:documentation>DOUBLECLICK</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="freewheelDistribution.FREEWHEEL"><xs:annotation><xs:documentation>FREEWHEEL</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="freewheelGenericDistribution.FREEWHEEL_GENERIC"><xs:annotation><xs:documentation>FREEWHEEL_GENERIC</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="ftpDistribution.FTP"><xs:annotation><xs:documentation>FTP</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="ftpDistribution.FTP_SCHEDULED"><xs:annotation><xs:documentation>FTP_SCHEDULED</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="huluDistribution.HULU"><xs:annotation><xs:documentation>HULU</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="ideticDistribution.IDETIC"><xs:annotation><xs:documentation>IDETIC</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="metroPcsDistribution.METRO_PCS"><xs:annotation><xs:documentation>METRO_PCS</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="msnDistribution.MSN"><xs:annotation><xs:documentation>MSN</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="ndnDistribution.NDN"><xs:annotation><xs:documentation>NDN</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="podcastDistribution.PODCAST"><xs:annotation><xs:documentation>PODCAST</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="quickPlayDistribution.QUICKPLAY"><xs:annotation><xs:documentation>QUICKPLAY</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="synacorHboDistribution.SYNACOR_HBO"><xs:annotation><xs:documentation>SYNACOR_HBO</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="tvComDistribution.TVCOM"><xs:annotation><xs:documentation>TVCOM</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="timeWarnerDistribution.TIME_WARNER"><xs:annotation><xs:documentation>TIME_WARNER</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="uverseClickToOrderDistribution.UVERSE_CLICK_TO_ORDER"><xs:annotation><xs:documentation>UVERSE_CLICK_TO_ORDER</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="uverseDistribution.UVERSE"><xs:annotation><xs:documentation>UVERSE</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="verizonVcastDistribution.VERIZON_VCAST"><xs:annotation><xs:documentation>VERIZON_VCAST</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="yahooDistribution.YAHOO"><xs:annotation><xs:documentation>YAHOO</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="youTubeDistribution.YOUTUBE"><xs:annotation><xs:documentation>YOUTUBE</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="youtubeApiDistribution.YOUTUBE_API"><xs:annotation><xs:documentation>YOUTUBE_API</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="tvinciDistribution.TVINCI"><xs:annotation><xs:documentation>TVINCI</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="unicornDistribution.UNICORN"><xs:annotation><xs:documentation>UNICORN</xs:documentation></xs:annotation></xs:enumeration>
			<xs:enumeration value="facebookDistribution.FACEBOOK"><xs:annotation><xs:documentation>FACEBOOK</xs:documentation></xs:annotation></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
			
</xs:schema>